KEY=

# Redis
REDIS_HOSTNAME=
REDIS_PASSWORD=
REDIS_PORT=

SECRET_KEY=

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG=

ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=

# Database
PG_NAME=
PG_USER=
PG_PASSWORD=
PG_HOST=
PG_PORT=

REDIS_URL=

EMAIL_URL=
MAIL_HOST=
MAIL_PORT=
MAIL_USER_EMAIL=
MAIL_USER=
MAIL_PASS=
MAIL_DEBUG=

USE_S3=
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_STORAGE_BUCKET_NAME