{% load static %}
{% url 'home' as home %}


<header class="fixed top-0 left-0 w-full z-10 {% if request.path != home %} bg-white {% endif %}
    ">
    <nav class="mx-auto flex max-w-3xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="{{ home }}" class="-m-1.5 p-1.5">
                <span class="font-semibold text-3xl {% if request.path == home %} text-white {% else %} text-gray-700 {% endif %}">Learn English</span>
            </a>
        </div>
        <div class="hidden lg:flex lg:gap-x-8">
            <a href="{{ home }}" class="text-sm font-semibold leading-6 text-gray-700">Home</a>
            <a href="{% url 'explore:explore' %}" class="text-sm font-semibold leading-6 text-gray-700">Explora</a>
            <a href="{% url 'user:timeline' %}" class="text-sm font-semibold leading-6 text-gray-700">Timeline</a>
            <a href="#" class="text-sm font-semibold leading-6 text-gray-700">Ayuda</a>
        </div>
        <div class="lg:flex lg:flex-1 lg:justify-end">

            {% if user.is_authenticated %}
            <a href="{% url 'user:profile' %}" >
                {% if user.profile.image %}
                <img src="{{ user.profile.image.url }}" alt="" class="rounded-full w-8 h-8">
                {% else %}
                <img src="{% static 'icons/user.png' %}" alt="" class="rounded-full w-8 h-8">
                {% endif %}
            </a>
            {% else %}
            <a href="{% url 'authentication:login' %}"
                class="text-sm font-semibold leading-6 text-gray-700 hover:shadow-md hover:shadow-orange-300 hover:rounded p-2 mr-2">
                Log in
            </a>
            <a href="#"
                class="text-sm font-semibold leading-6 text-gray-700 hover:shadow-md hover:shadow-orange-300 hover:rounded p-2 mr-2">
                Join <span aria-hidden="true">&rarr;</span></a>
            {% endif %}
        </div>
    </nav>
</header>


{% if user.is_authenticated %}
<!-- Botton navigation -->
<div class="fixed bottom-0 z-10 left-0 p-6 w-full lg:hidden bg-white">
    <div class="flex justify-around">
        <a href="{{ home }}">
            <img src="{% static 'icons/home.png' %}" alt="" class="w-8 h-8">
        </a>
        <a href="{% url 'explore:explore' %}">
            <img src="{% static 'icons/activity.png' %}" alt="" class="w-8 h-8">
        </a>
        <a href="{% url 'user:timeline' %}">
            <img src="{% static 'icons/timeline.png' %}" alt="" class="w-8 h-8">
        </a>
        <a href="">
            <img src="{% static 'icons/help.png' %}" alt="" class="w-8 h-8">
        </a>

    </div>
</div>

{% endif %}